<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Movie</title>
</head>
<body>
<form action="" method="POST">
    {% csrf_token %}
    <p><input type="text" name="title" placeholder="Enter title to search"></p>
    <p><input type="text" name="first_name" placeholder="Enter first name"></p>
    <p><input type="text" name="last_name" placeholder="Enter last name"></p>
    <p><input type="number" name="year_from" placeholder="Year from">
        <input type="number" name="year_to" placeholder="Year to"></p>
    <p><input type="text" name="genre" placeholder="Enter genre"></p>
    <p><input type="number" name="rating_from" placeholder="Rating from">
        <input type="number" name="rating_to" placeholder="Rating to"></p>
    <input type="submit">
</form>

{% if presults|length < 0 %}

No results found :(

{% else %}
{% for result in mresults %}
<p>{{result.title }}</p>
{% endfor %}
{% endif %}

</body>
</html>