<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show all sessions redo</title>
</head>
<style>
    table, th, td {
        border-collapse: collapse;
        border: 1px solid black;
        padding: 5px;
        text-align: center;
    }

    th {
        background-color: #ccc
    }


</style>
<body>


<table>
    <tr>

        <td>Key</td>
        <td>Value</td>
      {% for key, value in pairs %}
    <tr>
        <td>{{ key }}</td>
        <td> {{ value }}</td>
    </tr>
         {% endfor %}

    </tr>
</table>
</body>
</html>