<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Band Info</title>
    <style>
        table, th, td {
            border-collapse: collapse;
            border: 1px solid black;
        }

        th, td {
            padding: 5px;
        }

        th {
            background-color: #ccc;
        }
    </style>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Genre</th>
        <th>Year Formed</th>
        <th>Still Active?</th>
    </tr>
    </thead>
    <tbody>
    {% for band in band_info %}
    <tr>
        <td>{{ band.name }}</td>
        <td>{{ band.genre }}</td>
        <td>{{ band.year }}</td>
        <td>{{ band.still_active }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>